In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/suryaram/anaconda/envs/py27/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [30]:
battles = pd.read_csv("data/battles.csv")
character_deaths = pd.read_csv("data/character-deaths.csv")
character_predictions = pd.read_csv("data/character-predictions.csv")

In [19]:
character_deaths_by_book = character_deaths.groupby(character_deaths.columns[3])
character_deaths_by_book

<pandas.core.groupby.DataFrameGroupBy object at 0x10a480650>

In [20]:
# Set parameters on plt
plt.rcParams["axes.labelsize"] = 16.
plt.rcParams["xtick.labelsize"] = 13.
plt.rcParams["ytick.labelsize"] = 13.
plt.rcParams["legend.fontsize"] = 11.

In [31]:
battles_by_book = battles.groupby(battles.columns[3])
battles_by_book.describe()

                   attacker_size  attacker_win  battle_number  defender_3  \
book_number
1           count       5.000000      7.000000       7.000000         0.0
            mean    11175.000000      0.857143       4.000000         NaN
            std      6875.909031      0.377964       2.160247         NaN
            min      1875.000000      0.000000       1.000000         NaN
            25%      6000.000000      1.000000       2.500000         NaN
            50%     15000.000000      1.000000       4.000000         NaN
            75%     15000.000000      1.000000       5.500000         NaN
            max     18000.000000      1.000000       7.000000         NaN
2           count      11.000000     14.000000      14.000000         0.0
            mean     5476.909091      0.857143      14.500000         NaN
            std      7807.430377      0.363137       4.183300         NaN
            min        20.000000      0.000000       8.000000         NaN
            25%       254.000000      1.000000      11.250000         NaN
            50%      1000.000000      1.000000      14.500000         NaN
            75%      6000.000000      1.000000      17.750000         NaN
            max     21000.000000      1.000000      21.000000         NaN
3           count       3.000000      7.000000       7.000000         0.0
            mean    35500.000000      0.714286      25.000000         NaN
            std     55859.197989      0.487950       2.160247         NaN
            min      3000.000000      0.000000      22.000000         NaN
            25%      3250.000000      0.500000      23.500000         NaN
            50%      3500.000000      1.000000      25.000000         NaN
            75%     51750.000000      1.000000      26.500000         NaN
            max    100000.000000      1.000000      28.000000         NaN
5           count       5.000000      9.000000      10.000000         0.0
            mean     3200.000000      1.000000      33.500000         NaN
            std      1524.795068      0.000000       3.027650         NaN
            min      1500.000000      1.000000      29.000000         NaN
            25%      2000.000000      1.000000      31.250000         NaN
            50%      3000.000000      1.000000      33.500000         NaN
            75%      4500.000000      1.000000      35.750000         NaN
            max      5000.000000      1.000000      38.000000         NaN

                   defender_4  defender_size  major_capture  major_death  \
book_number
1           count         0.0       6.000000       7.000000     7.000000
            mean          NaN    8790.833333       0.428571     0.571429
            std           NaN    7038.927771       0.534522     0.534522
            min           NaN     120.000000       0.000000     0.000000
            25%           NaN    4500.000000       0.000000     0.000000
            50%           NaN    8000.000000       0.000000     1.000000
            75%           NaN   11968.750000       1.000000     1.000000
            max           NaN   20000.000000       1.000000     1.000000
2           count         0.0       7.000000      14.000000    14.000000
            mean          NaN    7178.571429       0.285714     0.357143
            std           NaN    7031.586897       0.468807     0.497245
            min           NaN     100.000000       0.000000     0.000000
            25%           NaN    1450.000000       0.000000     0.000000
            50%           NaN    7250.000000       0.000000     0.000000
            75%           NaN   10000.000000       0.750000     1.000000
            max           NaN   20000.000000       1.000000     1.000000
3           count         0.0       3.000000       7.000000     7.000000
            mean          NaN    3580.000000       0.428571     0.571429
            std           NaN    2381.008190       0.534522     0.534522
            min           NaN    1240.000000       0.000000     0.000000
            25%           NaN    2370.000000       0.000000     0.000000
            50%           NaN    3500.000000       0.000000     1.000000
            75%           NaN    4750.000000       1.000000     1.000000
            max           NaN    6000.000000       1.000000     1.000000
5           count         0.0       3.000000      10.000000    10.000000
            mean          NaN    2800.000000       0.100000     0.000000
            std           NaN    4503.332100       0.316228     0.000000
            min           NaN     200.000000       0.000000     0.000000
            25%           NaN     200.000000       0.000000     0.000000
            50%           NaN     200.000000       0.000000     0.000000
            75%           NaN    4100.000000       0.000000     0.000000
            max           NaN    8000.000000       1.000000     0.000000

                      summer        year
book_number
1           count   7.000000    7.000000
            mean    1.000000  298.000000
            std     0.000000    0.000000
            min     1.000000  298.000000
            25%     1.000000  298.000000
            50%     1.000000  298.000000
            75%     1.000000  298.000000
            max     1.000000  298.000000
2           count  14.000000   14.000000
            mean    1.000000  299.000000
            std     0.000000    0.000000
            min     1.000000  299.000000
            25%     1.000000  299.000000
            50%     1.000000  299.000000
            75%     1.000000  299.000000
            max     1.000000  299.000000
3           count   6.000000    7.000000
            mean    0.833333  299.142857
            std     0.408248    0.377964
            min     0.000000  299.000000
            25%     1.000000  299.000000
            50%     1.000000  299.000000
            75%     1.000000  299.000000
            max     1.000000  300.000000
5           count  10.000000   10.000000
            mean    0.000000  300.000000
            std     0.000000    0.000000
            min     0.000000  300.000000
            25%     0.000000  300.000000
            50%     0.000000  300.000000
            75%     0.000000  300.000000
            max     0.000000  300.000000